<div class="toolbar" role="banner">
  <!-- Your toolbar content here -->

  <section>
    <div class="toolbar__left">
      <a routerLink="/home" class="toolbar__logo">
        <img preload src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="Logo" />
      </a>
    </div>
    <div class="toolbar__right">
      <a routerLink="/home" class="toolbar__link">Home</a>
      <a routerLink="/create" class="toolbar__link">Create</a>
      <a routerLink="/edit" class="toolbar__link">Edit</a>
      <a routerLink="/filter" class="toolbar__link">Filter</a>
    </div>
  </section>
</div>

<!-- Rest of your HTML -->

<div class="content" role="main">
  <section>
    <div>
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
